/* classnotes.css */

body {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

/* Heading definitions */

h1 {
	color:#141400;
	font-size: 40px;
	line-height:40px;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	text-align: center;
}

strong.keyword {
	color:#E62E00;
	font-weight: bold;
}

h2 {
	color:#141400;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}


/* Overall section styles */

.section {
	display: flex;
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.section-texttoright {
  padding-left: 1%;
  width: 55%;
}

.section-texttoleft {
  padding-right: 1%;
  width: 55%;
}

.imagetoright {
	padding-left: 10%;
}

.imagetoleft {
	padding-right: 10%;
}

/* Specific styles used within sections */

.bulletlist {
	padding-left: 5px;
	padding-right: 20px;
}

pre {
	width: 80%;
	line-height:105%;
	white-space:pre-wrap;

}

.greentext
{
color: green;
}
.boldtext
{
font-weight: bold;
}

.codesample {
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	color:#333333;
	background-color:#E0E0E0;
	padding:9px 10px 9px 10px;
	margin:auto;
	word-break:break-all;
	text-align: left;
}

/* Experimental stuff I gave up on */

/*div.title {
	color: #C60;
	background-color:#FFFFDD;
	border-style:solid;
	border-width:0px 1px 0px 1px;
	border-color:#DDDD66;
	color:#333300;
	font-size:small; 
	line-height:120%;
	margin-top: 10px;
	padding: 5px 20px 5px 20px;
}

.paratext {
	font-family: "Helvetica";
	background-color:#6EDD66;

}

.otherpara {
	color: #EE0000;
	background-color:#6EDD00;
	*/

